//Created by lucero on 29/02/2016.
extends layout

block content
  center
    .container
        h1   Registration page
        p.lead Thanks for signing up, enter the following data:
        br
        form(role='form', action="/register",method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='text', name="username", placeholder='Username')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            .form-group
                strong Age
                    select.form-control(name="edad" type="text")
                        option(value="10") 10
                        option(value="11") 11
                        option(value="12") 12
                        option(value="13") 13
                        option(value="14") 14
                        option(value="15") 15
                        option(value="16") 16
                        option(value="17") 17
                        option(value="18") 18
                        option(value="19") 19
                        option(value="20") 20
                        option(value="21") 21
                        option(value="22") 22
                        option(value="23") 23
                        option(value="24") 24
                        option(value="25") 25
                        option(value="26") 26
                        option(value="27") 27
                        option(value="28") 28
                        option(value="29") 29
                        option(value="30") 30
                        option(value="31") 31
                        option(value="32") 32
                        option(value="33") 33
                        option(value="34") 34
                        option(value="35") 35
                        option(value="36") 36
                        option(value="37") 37
                        option(value="38") 38
                        option(value="39") 39
                        option(value="40") 40
                        option(value="41") 41
                        option(value="42") 42
                        option(value="43") 43
                        option(value="44") 44
                        option(value="45") 45
                        option(value="46") 46
                        option(value="47") 47
                        option(value="48") 48
                        option(value="49") 49
                        option(value="50") 50
                        option(value="51") 51
                        option(value="52") 52
                        option(value="53") 53
                        option(value="54") 54
                        option(value="55") 55
                        option(value="56") 56
                        option(value="57") 57
                        option(value="58") 58
                        option(value="59") 59
                        option(value="60") 60
                        option(value="61") 61
                        option(value="62") 62
                        option(value="63") 63
                        option(value="64") 64
                        option(value="65") 65
                        option(value="67") 67
                        option(value="68") 68
                        option(value="69") 69
                        option(value="70") 70
                        option(value="71") 71
                        option(value="72") 72
                        option(value="73") 73
                        option(value="74") 74
                        option(value="75") 75
                        option(value="76") 76
                        option(value="77") 77
                        option(value="78") 78
                        option(value="79") 79
                        option(value="80") 80
                        option(value="81") 81
                        option(value="82") 82
                        option(value="83") 83
                        option(value="84") 84
                        option(value="85") 85
                        option(value="86") 86
                        option(value="87") 87
                        option(value="88") 88
                        option(value="89") 89
                        option(value="90") 90



            .form-group
                strong Your country or territory of residence
                    select.form-control(name="pais" type="text")
                        option(value="AF") Afganistán (‫افغانستان‬‎)
                        option(value="AL") Albania (Shqipëri)
                        option(value="DE") Alemania (Deutschland)
                        option(value="AD") Andorra
                        option(value="AO") Angola
                        option(value="AI") Anguila (Anguilla)
                        option(value="AQ")  Antártida (Antarctica)
                        option(value="AG") Antigua y Barbuda (Antigua &amp; Barbuda)
                        option(value="SA") Arabia Saudí (‫المملكة العربية السعودية‬‎)
                        option(value="DZ") Argelia (Algeria)
                        option(value="AR") Argentina
                        option(value="AM") Armenia (Հայաստան)
                        option(value="AW") Aruba
                        option(value="AU") Australia
                        option(value="AT") Austria (Österreich)
                        option(value="AZ") Azerbaiyán (Azərbaycan)
                        option(value="BS") Bahamas
                        option(value="BD") Bangladés (বাংলাদেশ)
                        option(value="BB") Barbados
                        option(value="BH") Baréin (‫البحرين‬‎)
                        option(value="BE") Bélgica (Belgium)
                        option(value="BZ") Belice (Belize)
                        option(value="BJ") Benín (Bénin)
                        option(value="BM") Bermudas (Bermuda)
                        option(value="BY") Bielorrusia (Беларусь)
                        option(value="BO") Bolivia
                        option(value="BA") Bosnia-Herzegovina (Босна и Херцеговина)
                        option(value="BW") Botsuana (Botswana)
                        option(value="BR") Brasil
                        option(value="BN") Brunéi (Brunei)
                        option(value="BG") Bulgaria (България)
                        option(value="BF") Burkina Faso
                        option(value="BI") Burundi (Uburundi)
                        option(value="BF") Burkina Faso
                        option(value="BI") Burundi (Uburundi)
                        option(value="BT") Bután (འབྲུག)
                        option(value="CV") Cabo Verde (Kabu Verdi)
                        option(value="KH") Camboya (កម្ពុជា)
                        option(value="CM") Camerún (Cameroun)
                        option(value="CA") Canadá (Canada)
                        option(value="IC") Canarias
                        option(value="BQ") Caribe neerlandés (Caribbean Netherlands)
                        option(value="QA") Catar (‫قطر‬‎)
                        option(value="EA") Ceuta y Melilla
                        option(value="TD") Chad (Tchad)
                        option(value="CL") Chile
                        option(value="CN") China (中国)
                        option(value="CY") Chipre (Κύπρος)
                        option(value="VA") Ciudad del Vaticano (Città del Vaticano)
                        option(value="CO") Colombia
                        option(value="KM") Comoras (‫جزر القمر‬‎)
                        option(value="KP") Corea del Norte (조선민주주의인민공화국)
                        option(value="KR") Corea del Sur (대한민국)
                        option(value="CI") Costa de Marfil (Côte d’Ivoire)
                        option(value="CR") Costa Rica
                        option(value="HR") Croacia (Hrvatska)
                        option(value="CU") Cuba
                        option(value="CW") Curazao (Curaçao)
                        option(value="DG") Diego García (Diego Garcia)
                        option(value="DK") Dinamarca (Danmark)
                        option(value="DM") Dominica
                        option(value="EC") Ecuador
                        option(value="EG") Egipto (‫مصر‬‎)
                        option(value="SV") El Salvador
                        option(value="AE") Emiratos Árabes Unidos (‫الإمارات العربية المتحدة‬‎)
                        option(value="ER") Eritrea
                        option(value="SK") Eslovaquia (Slovensko)
                        option(value="SI") Eslovenia (Slovenija)
                        option(value="ES") España
                        option(value="US") Estados Unidos (United States)
                        option(value="EE") Estonia (Eesti)
                        option(value="ET") Etiopía (Ethiopia)
                        option(value="PH") Filipinas (Philippines)
                        option(value="FI") Finlandia (Suomi)
                        option(value="FJ") Fiyi (Fiji)
                        option(value="FR") Francia (France)
                        option(value="GA") Gabón (Gabon)
                        option(value="GM") Gambia
                        option(value="GE") Georgia (საქართველო)
                        option(value="GH") Ghana (Gaana)
                        option(value="GI") Gibraltar
                        option(value="GD") Granada (Grenada)
                        option(value="GR") Grecia (Ελλάδα)
                        option(value="GL") Groenlandia (Kalaallit Nunaat)
                        option(value="GP") Guadalupe (Guadeloupe)
                        option(value="GU") Guam
                        option(value="GT") Guatemala
                        option(value="GF") Guayana Francesa (Guyane française)
                        option(value="GG") Guernesey (Guernsey)
                        option(value="GN") Guinea (Guinée)
                        option(value="GW") Guinea-Bisáu (Guiné-Bissau)
                        option(value="GQ") Guinea Ecuatorial
                        option(value="GY") Guyana
                        option(value="HT") Haití (Haiti)
                        option(value="HN") Honduras
                        option(value="HK") Hong Kong (香港)
                        option(value="HU") Hungría (Magyarország)
                        option(value="IN") India (भारत)
                        option(value="ID") Indonesia
                        option(value="IQ") Irak (‫العراق‬‎)
                        option(value="IR") Irán (‫ایران‬‎)
                        option(value="IE") Irlanda (Ireland)
                        option(value="BV") Isla Bouvet (Bouvet Island)
                        option(value="CP") Isla Clipperton (Clipperton Island)
                        option(value="AC") Isla de la Ascensión (Ascension Island)
                        option(value="IM") Isla de Man (Isle of Man)
                        option(value="CX") Isla de Navidad (Christmas Island)
                        option(value="IS") Islandia (Ísland)
                        option(value="NF") Isla Norfolk (Norfolk Island)
                        option(value="AX") Islas Åland (Åland)
                        option(value="KY") Islas Caimán (Cayman Islands)
                        option(value="CC") Islas Cocos (Kepulauan Cocos (Keeling))
                        option(value="CK") Islas Cook (Cook Islands)
                        option(value="FO") Islas Feroe (Føroyar)
                        option(value="GS") Islas Georgia del Sur y Sandwich del Sur (South Georgia &amp; South Sandwich Islands)
                        option(value="HM")  Islas Heard y McDonald (Heard &amp; McDonald Islands)
                        option(value="FK") Islas Malvinas (Falkland Islands (Islas Malvinas))
                        option(value="MP") Islas Marianas del Norte (Northern Mariana Islands)
                        option(value="MH") Islas Marshall (Marshall Islands)
                        option(value="UM") Islas menores alejadas de EE. UU. (U.S. Outlying Islands)
                        option(value="PN") Islas Pitcairn (Pitcairn Islands)
                        option(value="SB") Islas Salomón (Solomon Islands)
                        option(value="TC") Islas Turcas y Caicos (Turks &amp; Caicos Islands)
                        option(value="VG") Islas Vírgenes Británicas (British Virgin Islands)
                        option(value="VI") Islas Vírgenes de EE. UU. (U.S. Virgin Islands)
                        option(value="IL") Israel (‫ישראל‬‎)
                        option(value="IT") Italia
                        option(value="JM") Jamaica
                        option(value="JP") Japón (日本)
                        option(value="JE") Jersey
                        option(value="JO") Jordania (‫الأردن‬‎)
                        option(value="KZ") Kazajistán (Казахстан)
                        option(value="KE") Kenia (Kenya)
                        option(value="KG") Kirguistán (Кыргызстан)
                        option(value="KI") Kiribati
                        option(value="XK") Kosovo (Kosovë)
                        option(value="KW") Kuwait (‫الكويت‬‎)
                        option(value="LA") Laos (ລາວ)
                        option(value="LS") Lesoto (Lesotho)
                        option(value="LV") Letonia (Latvija)
                        option(value="LB") Líbano (‫لبنان‬‎)
                        option(value="LR") Liberia
                        option(value="LY") Libia (‫ليبيا‬‎)
                        option(value="LI") Liechtenstein
                        option(value="LT") Lituania (Lietuva)
                        option(value="LU") Luxemburgo (Luxembourg)
                        option(value="MO") Macao (澳門)
                        option(value="MK") Macedonia (Македонија)
                        option(value="MG") Madagascar (Madagasikara)
                        option(value="MY") Malasia (Malaysia)
                        option(value="MW") Malaui (Malawi)
                        option(value="MV") Maldivas (Maldives)
                        option(value="ML") Mali
                        option(value="MT") Malta
                        option(value="MA") Marruecos (Morocco)
                        option(value="MQ") Martinica (Martinique)
                        option(value="MU") Mauricio (Moris)
                        option(value="MR") Mauritania (‫موريتانيا‬‎)
                        option(value="YT") Mayotte
                        option(value="MX" selected=true) México
                        option(value="FM") Micronesia
                        option(value="MD") Moldavia (Republica Moldova)
                        option(value="MC") Mónaco (Monaco)
                        option(value="MN") Mongolia (Монгол)
                        option(value="ME") Montenegro (Crna Gora)
                        option(value="MS") Montserrat
                        option(value="MZ") Mozambique (Moçambique)
                        option(value="MM") Myanmar (Birmania) (မြန်မာ)
                        option(value="NA") Namibia (Namibië)
                        option(value="NR") Nauru
                        option(value="NP") Nepal (नेपाल)
                        option(value="NI") Nicaragua
                        option(value="NE") Níger (Nijar)
                        option(value="NG") Nigeria
                        option(value="NU") Niue
                        option(value="NO") Noruega (Norge)
                        option(value="NC") Nueva Caledonia (Nouvelle-Calédonie)
                        option(value="NZ") Nueva Zelanda (New Zealand)
                        option(value="OM") Omán (‫عُمان‬‎)
                        option(value="NL") Países Bajos (Nederland)
                        option(value="PK") Pakistán (‫پاکستان‬‎)
                        option(value="PW") Palaos (Palau)
                        option(value="PS") Palestina (‫فلسطين‬‎)
                        option(value="PA") Panamá
                        option(value="PG") Papúa Nueva Guinea (Papua New Guinea)
                        option(value="PY") Paraguay
                        option(value="PE") Perú
                        option(value="PF") Polinesia Francesa (Polynésie française)
                        option(value="PL") Polonia (Polska)
                        option(value="PT") Portugal
                        option(value="PR") Puerto Rico
                        option(value="GB") Reino Unido (United Kingdom)
                        option(value="CF") República Centroafricana (République centrafricaine)
                        option(value="CZ") República Checa (Česká republika)
                        option(value="CG") República del Congo (Congo-Brazzaville)
                        option(value="CD") República Democrática del Congo (Jamhuri ya Kidemokrasia ya Kongo)
                        option(value="DO") República Dominicana
                        option(value="RE") Reunión (La Réunion)
                        option(value="RW") Ruanda (Rwanda)
                        option(value="RO") Rumanía (România)
                        option(value="RU") Rusia (Россия)
                        option(value="EH") Sáhara Occidental (‫الصحراء الغربية‬‎)
                        option(value="WS") Samoa
                        option(value="AS") Samoa Americana (American Samoa)
                        option(value="BL") San Bartolomé (Saint-Barthélemy)
                        option(value="KN") San Cristóbal y Nieves (St. Kitts &amp; Nevis)
                        option(value="SM") San Marino
                        option(value="MF") San Martín (Saint-Martin)
                        option(value="PM") San Pedro y Miquelón (Saint-Pierre-et-Miquelon)
                        option(value="SH") Santa Elena (St. Helena)
                        option(value="LC") Santa Lucía (St. Lucia)
                        option(value="ST") Santo Tomé y Príncipe (São Tomé e Príncipe)
                        option(value="VC") San Vicente y las Granadinas (St. Vincent &amp; Grenadines)
                        option(value="SN") Senegal
                        option(value="RS") Serbia (Србија)
                        option(value="SC") Seychelles
                        option(value="SL") Sierra Leona (Sierra Leone)
                        option(value="SG") Singapur (Singapore)
                        option(value="SX") Sint Maarten
                        option(value="SY") Siria (‫سوريا‬‎)
                        option(value="SO") Somalia (Soomaaliya)
                        option(value="LK") Sri Lanka (ශ්‍රී ලංකාව)
                        option(value="SZ") Suazilandia (Swaziland)
                        option(value="ZA") Sudáfrica (South Africa)
                        option(value="SD") Sudán (‫السودان‬‎)
                        option(value="SS") Sudán del Sur (‫جنوب السودان‬‎)
                        option(value="SE") Suecia (Sverige)
                        option(value="CH") Suiza (Schweiz)
                        option(value="SR") Surinam (Suriname)
                        option(value="SJ") Svalbard y Jan Mayen (Svalbard og Jan Mayen)
                        option(value="TH") Tailandia (ไทย)
                        option(value="TW") Taiwán (台灣)
                        option(value="TZ") Tanzania
                        option(value="TJ") Tayikistán (Tajikistan)
                        option(value="IO") Territorio Británico del Océano Índico (British Indian Ocean Territory)
                        option(value="TF") Territorios Australes Franceses (Terres australes françaises)
                        option(value="TL") Timor Oriental (Timor-Leste)
                        option(value="TG") Togo
                        option(value="TK") Tokelau
                        option(value="TO") Tonga
                        option(value="TT") Trinidad y Tobago (Trinidad &amp; Tobago)
                        option(value="TA") Tristán da Cunha (Tristan da Cunha)
                        option(value="TN") Túnez (Tunisia)
                        option(value="TM") Turkmenistán (Turkmenistan)
                        option(value="TR") Turquía (Türkiye)
                        option(value="TV") Tuvalu
                        option(value="UA") Ucrania (Україна)
                        option(value="UG") Uganda
                        option(value="UY") Uruguay
                        option(value="UZ") Uzbekistán (Oʻzbekiston)
                        option(value="VU") Vanuatu
                        option(value="VE") Venezuela
                        option(value="VN") Vietnam (Việt Nam)
                        option(value="WF") Wallis y Futuna (Wallis &amp; Futuna)
                        option(value="YE") Yemen (‫اليمن‬‎)
                        option(value="DJ") Yibuti (Djibouti)
                        option(value="ZM") Zambia
                        option(value="ZW") Zimbabue (Zimbabwe)
            .form-group
                input.form-control(type='text', name="email", placeholder='***@dominio.com')
            button.btn.btn-default(type='submit') Sing up
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            a(href='/')
                button.btn.btn-primary(type="button") Cancel
                br
                h4= info



